.mainHead {
  grid-area: header;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.graphDisplay {
  grid-area: mainEditArea;
  border-style: solid;
}

.nodeEditor {
  grid-area: mainEditArea;
  border-style: solid;
}

.mainFooter {
  grid-area: footer;
  font-size: small;
  font-weight: lighter;
}

.editor {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 15px 550px 15px;
  grid-template-areas:
    "header"
    "mainEditArea"
    "footer";
}

.node-contents {
}

.node-controls {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}

.delete-icon {
}

p.node-text {
  margin-bottom: 0;
}
p.node-subtitle {
  font-size: smaller;
  font-style: italic;
  margin-top: 0;
}
