.mainHead {
  grid-area: header;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.graphDisplay {
  grid-area: graphDisplay;
  border-style: solid;
}

.graphDisplay li.selected {
  color: #00ee22;
}

.mainFooter {
  grid-area: footer;
  font-size: small;
  font-weight: lighter;
}

.editor {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 15px 550px 15px;
  grid-template-areas:
    "header"
    "graphDisplay"
    "footer";
}
